<style>
body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), 
                url("<%= @article.photo.url %>") center center; 
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

</style>
<body>

<h1><%= @article.title %></h1>
<% @article.photos.each do |pic| %>
<%= image_tag pic.photo.url( :small) %>
<% end %>
<p><%= @article.body %></p>

<%= render partial: 'comments/form' %>

<%= link_to "<< Back to Articles List", articles_path %> |

<h3>Comments (<%= @article.comments.size %>)</h3>
<%@article.comments.each do |comment|%>
<h4><%= comment.user.email%></h4>
<p class="comment"><%= comment.body %></p>
<% if user_signed_in? %>
 <% if comment.user_id == current_user.id %>
<%= link_to 'Edit', edit_article_comment_path(@article,comment) %> 
<%= link_to 'Delete', [@article,comment],method: :delete,data: { confirm:'Are you sure?'} %> 
<% end %>
<% end %>
<% end %>
</body>